[Unit]
Description=PicoFoxWeb WWW Service
After=network.target

[Service]
ExecStart=/usr/local/sbin/PICOFoxweb 8080 /var/www/webroot /var/www/PocoLog.txt
KillMode=process
User=picofoxweb
Group=picofoxweb

[Install]
WantedBy=multi-user.target