[Unit]
Description=PicoFoxWeb WWW Service
After=network.target

[Service]
ExecStart=/usr/local/sbin/PICOFoxweb 10002 /var/www/webroot /var/www/PocoLog.txt /var/www/UsersDatabase.db /var/www/keys
KillMode=process
User=picofoxweb
Group=picofoxweb

[Install]
WantedBy=multi-user.target